<!--only images are here-->
  <section>
    <!-- Falling leaves -->
    <div class="leaves">
      <div class="set">
        <div><img src="assets/leaf_01.png" alt="leaf"></div>
        <div><img src="assets/leaf_02.png" alt="leaf"></div>
        <div><img src="assets/leaf_03.png" alt="leaf"></div>
        <div><img src="assets/leaf_04.png" alt="leaf"></div>
        <div><img src="assets/leaf_01.png" alt="leaf"></div>
        <div><img src="assets/leaf_02.png" alt="leaf"></div>
        <div><img src="assets/leaf_03.png" alt="leaf"></div>
        <div><img src="assets/leaf_04.png" alt="leaf"></div>
      </div>
    </div>
  
    <!-- Background images -->
    <img src="assets/bg.jpg" class="bg" alt="background">
    <img src="assets/trees.png" class="trees" alt="trees">
    <img src="assets/girl.png" class="girl" alt="girl">
  
    <!-- Login / Signup content -->
    <ng-content></ng-content>
  </section>
  