<app-auth-layout>
    <div class="form-table-wrapper">  <!--style="display: flex; gap: 20px; align-items: flex-start;"-->
        <div class="form-container"> <!--style="flex: 1;"-->
            <h2 class="mb-4">{{'User Details'|translate}}</h2>

            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

                <!-- Name -->
                <div class="mb-3">
                    <label class="form-label">{{'Name:'|translate}}</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="text-danger mt-1" *ngIf="userForm.get('name')?.invalid && submitted">
                        {{'Name is required.'|translate}}
                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label class="form-label">{{'Email:'|translate}}</label>
                    <input type="email" class="form-control" formControlName="email">
                    <div class="text-danger mt-1" *ngIf="userForm.get('email')?.invalid && submitted">
                        {{'Enter a valid email.'|translate}}
                    </div>
                </div>

                <!-- Address -->
                <h4 class="mt-4 text-left ">{{'Address-'|translate}} </h4>
                <div formGroupName="address">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{'city'|translate}}</label>
                            <input type="text" class="form-control" formControlName="city">
                            <div class="text-danger mt-1" *ngIf="userForm.get('city')?.invalid && submitted">
                                {{'enter_valid_city'|translate}}
                            </div>
                        </div>
                            <select class="form-control" formControlName="country">
                                <option value="" disabled>{{'select_country'|translate}}</option>
                                <option *ngFor="let c of countrylist" [value]="c.code">{{ c.name }}</option>
                            </select>
                            <div *ngIf="userForm.get('country')?.invalid && submitted">
                                {{'country_required'|translate}}
                            </div>
                        
                        
                    </div>
                </div>

                <!-- Phone Numbers -->
                <h4 class="mt-4 text-left">{{'phone_numbers'|translate}} </h4>
                <div formArrayName="phoneNumbers">
                    <div *ngFor="let phone of phoneNumbers.controls; let i = index" class="mb-3">
                        <div class="d-flex align-items-center">
                            <input class="form-control me-2" [formControlName]="i" placeholder="Phone Number">
                            <button type="button" class="btn-custom-remove" (click)="removePhone(i)">
                                {{'remove'|translate}}
                            </button>
                        </div>

                        <div class="text-danger mt-1" *ngIf="phone.invalid && submitted">
                            {{'valid_phone_number'|translate}}
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary btn-sm mt-2" style="float: left; font-size: 1em; padding: 4px 10px;"(click)="addPhone()">+ Add Phone</button>

                <!-- Submit -->
                <div class="mt-4">
                    <button type="submit" class="btn-custom-submit" >
                        {{editIndex!==null?'Update user':'Submit'}}
                    </button>
                </div>
            </form>
        </div>
    </div>

    

        <div class="table-container" *ngIf="submittedUsers.length > 0">
            <table  border="1" cellpadding="8" cellspacing="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th>{{'s.no'|translate}}</th>
                        <th>{{'Name:'|translate}}</th>
                        <th>{{'Email'|translate}}</th>
                        <th>{{'city'|translate}}</th>
                        <th>{{'country'|translate}}</th>
                        <th>{{'phone'|translate}}</th>
                        <th>{{'action'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of submittedUsers; let i=index">
                        <td>{{ i + 1 }}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.address.city}}</td>
                        <td>{{getCountryName(user.address.country)}}</td>
                        <td>{{user.phoneNumbers[0]}}</td>
                        <td>
                            <button type="button" class="btn-edit me-4" (click)="onEdit(i)">{{'edit'|translate}}</button>
                            <button type="button" class="btn-delete" (click)="onDelete(i)">{{'delete'|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



</app-auth-layout>